In [1]:
import pandas as pd
import numpy as np

In [2]:
first_dataset = pd.read_csv("deliveries_2008_2024.csv")
second_dataset = pd.read_csv("matches_2008_2024.csv")

first_dataset.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [3]:
second_dataset.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [4]:
first_dataset.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [5]:
total_runs = first_dataset.groupby(['match_id','inning']).sum()['total_runs'].add(1).reset_index()

In [6]:
total_runs

      match_id  inning  total_runs
0       335982       1         223
1       335982       2          83
2       335983       1         241
3       335983       2         208
4       335984       1         130
...        ...     ...         ...
2212   1426310       2         175
2213   1426311       1         176
2214   1426311       2         140
2215   1426312       1         114
2216   1426312       2         115

[2217 rows x 3 columns]

In [8]:
total_runs = total_runs[total_runs['inning']==1]

In [9]:
match_df = second_dataset.merge(total_runs[['match_id','total_runs']],left_on='id',right_on='match_id')

In [10]:
match_df

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,223
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,...,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,241
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,...,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,130
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,...,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,335985,166
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,...,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,...,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426307,215
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit,1426309,160
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,...,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar,1426310,173
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,...,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426311,176
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon,1426312,114

In [11]:
match_df['team1'].value_counts()

team1
Royal Challengers Bangalore    135
Chennai Super Kings            128
Mumbai Indians                 123
Kolkata Knight Riders          121
Rajasthan Royals               101
Kings XI Punjab                 92
Sunrisers Hyderabad             86
Delhi Daredevils                85
Delhi Capitals                  41
Deccan Chargers                 39
Punjab Kings                    31
Lucknow Super Giants            23
Pune Warriors                   23
Gujarat Titans                  21
Gujarat Lions                   16
Royal Challengers Bengaluru      9
Kochi Tuskers Kerala             7
Rising Pune Supergiant           7
Rising Pune Supergiants          7
Name: count, dtype: int64

In [14]:
match_df['team1'] = match_df['team1'].replace('Delhi Daredevils','Delhi Capitals')
match_df['team2'] = match_df['team2'].replace('Delhi Daredevils','Delhi Capitals')

match_df['team1'] = match_df['team1'].replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].replace('Deccan Chargers','Sunrisers Hyderabad')

match_df['team1'] = match_df['team1'].replace('Kings XI Punjab','Punjab Kings')
match_df['team2'] = match_df['team2'].replace('Kings XI Punjab','Punjab Kings')

match_df['team1'] = match_df['team1'].replace('Royal Challengers Bengaluru','Royal Challengers Bangalore')
match_df['team2'] = match_df['team2'].replace('Royal Challengers Bengaluru','Royal Challengers Bangalore')

In [15]:
match_df['team1'].value_counts()

team1
Royal Challengers Bangalore    144
Chennai Super Kings            128
Delhi Capitals                 126
Sunrisers Hyderabad            125
Punjab Kings                   123
Mumbai Indians                 123
Kolkata Knight Riders          121
Rajasthan Royals               101
Pune Warriors                   23
Lucknow Super Giants            23
Gujarat Titans                  21
Gujarat Lions                   16
Kochi Tuskers Kerala             7
Rising Pune Supergiant           7
Rising Pune Supergiants          7
Name: count, dtype: int64

In [16]:
teams = ['Kolkata Knight Riders', 
         'Chennai Super Kings',
         'Punjab Kings', 
         'Rajasthan Royals',
         'Mumbai Indians',
         'Delhi Capitals',
         'Royal Challengers Bangalore',
         'Sunrisers Hyderabad',
         'Lucknow Super Giants',
         'Gujarat Titans'
         ]

In [17]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [18]:
match_df['team1'].value_counts()

team1
Royal Challengers Bangalore    136
Chennai Super Kings            124
Sunrisers Hyderabad            118
Delhi Capitals                 118
Punjab Kings                   116
Kolkata Knight Riders          114
Mumbai Indians                 113
Rajasthan Royals                97
Lucknow Super Giants            23
Gujarat Titans                  21
Name: count, dtype: int64

In [19]:
match_df.shape

(980, 22)

In [21]:
match_df = match_df[['id','city','winner','total_runs','team1','team2']]

In [22]:
match_df.shape

(980, 6)

In [23]:
second_innings = match_df.merge(first_dataset, left_on='id', right_on='match_id')
second_innings

,id,city,winner,total_runs_x,team1,team2,match_id,inning,batting_team,bowling_team,...,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233896,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
233897,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
233898,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
233899,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
233900,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [24]:
second_innings = second_innings[second_innings['inning']==2]
second_innings.shape

(112805, 23)

In [25]:
second_innings

,id,city,winner,total_runs_x,team1,team2,match_id,inning,batting_team,bowling_team,...,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,AB Dinda,R Dravid,0,1,1,wides,0,NaN,NaN,NaN
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,AB Dinda,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,AB Dinda,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233896,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
233897,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
233898,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
233899,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
233900,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [26]:
second_innings['team1'] = second_innings['team1'].replace('Delhi Daredevils','Delhi Capitals')
second_innings['team2'] = second_innings['team2'].replace('Delhi Daredevils','Delhi Capitals')

second_innings['team1'] = second_innings['team1'].replace('Deccan Chargers','Sunrisers Hyderabad')
second_innings['team2'] = second_innings['team2'].replace('Deccan Chargers','Sunrisers Hyderabad')

second_innings['team1'] = second_innings['team1'].replace('Kings XI Punjab','Punjab Kings')
second_innings['team2'] = second_innings['team2'].replace('Kings XI Punjab','Punjab Kings')

second_innings['team1'] = second_innings['team1'].replace('Royal Challengers Bengaluru','Royal Challengers Bangalore')
second_innings['team2'] = second_innings['team2'].replace('Royal Challengers Bengaluru','Royal Challengers Bangalore')

C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\2168529230.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['team1'] = second_innings['team1'].replace('Delhi Daredevils','Delhi Capitals')
C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\2168529230.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['team2'] = second_innings['team2'].replace('Delhi Daredevils','Delhi Capitals')
C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\2168529230.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['team1'] = second_innings['team1'].replace('Deccan Chargers','Sunrisers Hyderabad')
C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\2168529230.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['team2'] = second_innings['team2'].replace('Deccan Chargers','Sunrisers Hyderabad')
C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\2168529230.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['team1'] = second_innings['team1'].replace('Kings XI Punjab','Punjab Kings')
C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\2168529230.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['team2'] = second_innings['team2'].replace('Kings XI Punjab','Punjab Kings')
C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\2168529230.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['team1'] = second_innings['team1'].replace('Royal Challengers Bengaluru','Royal Challengers Bangalore')
C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\2168529230.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['team2'] = second_innings['team2'].replace('Royal Challengers Bengaluru','Royal Challengers Bangalore')

In [27]:
second_innings['team1'].value_counts()

team1
Royal Challengers Bangalore    15327
Chennai Super Kings            14752
Sunrisers Hyderabad            13668
Delhi Capitals                 13513
Punjab Kings                   13352
Mumbai Indians                 13162
Kolkata Knight Riders          12895
Rajasthan Royals               11186
Lucknow Super Giants            2610
Gujarat Titans                  2340
Name: count, dtype: int64

In [28]:
second_innings.columns

Index(['id', 'city', 'winner', 'total_runs_x', 'team1', 'team2', 'match_id',
       'inning', 'batting_team', 'bowling_team', 'over', 'ball', 'batter',
       'bowler', 'non_striker', 'batsman_runs', 'extra_runs', 'total_runs_y',
       'extras_type', 'is_wicket', 'player_dismissed', 'dismissal_kind',
       'fielder'],
      dtype='object')

In [29]:
second_innings.shape

(112805, 23)

In [30]:
# Function to determine the bowling team
def determine_bowling_team(row):
    if row['batting_team'] == row['team1']:
        return row['team2']
    else:
        return row['team1']

# Create the new 'BowlingTeam' column
second_innings['bowling_team'] = second_innings.apply(determine_bowling_team, axis=1)

C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\4162988056.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['bowling_team'] = second_innings.apply(determine_bowling_team, axis=1)

In [31]:
second_innings.tail(103)

,id,city,winner,total_runs_x,team1,team2,match_id,inning,batting_team,bowling_team,...,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
233681,1426311,Chennai,Sunrisers Hyderabad,176,Sunrisers Hyderabad,Rajasthan Royals,1426311,2,Rajasthan Royals,Sunrisers Hyderabad,...,Shahbaz Ahmed,Dhruv Jurel,0,0,0,NaN,0,NaN,NaN,NaN
233682,1426311,Chennai,Sunrisers Hyderabad,176,Sunrisers Hyderabad,Rajasthan Royals,1426311,2,Rajasthan Royals,Sunrisers Hyderabad,...,Shahbaz Ahmed,Dhruv Jurel,0,0,0,NaN,0,NaN,NaN,NaN
233683,1426311,Chennai,Sunrisers Hyderabad,176,Sunrisers Hyderabad,Rajasthan Royals,1426311,2,Rajasthan Royals,Sunrisers Hyderabad,...,Shahbaz Ahmed,Dhruv Jurel,1,0,1,NaN,0,NaN,NaN,NaN
233684,1426311,Chennai,Sunrisers Hyderabad,176,Sunrisers Hyderabad,Rajasthan Royals,1426311,2,Rajasthan Royals,Sunrisers Hyderabad,...,Shahbaz Ahmed,R Powell,4,0,4,NaN,0,NaN,NaN,NaN
233685,1426311,Chennai,Sunrisers Hyderabad,176,Sunrisers Hyderabad,Rajasthan Royals,1426311,2,Rajasthan Royals,Sunrisers Hyderabad,...,Shahbaz Ahmed,R Powell,4,0,4,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233896,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
233897,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
233898,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
233899,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
233900,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [32]:
second_innings['batting_team'] = second_innings['batting_team'].replace('Delhi Daredevils','Delhi Capitals')
second_innings['bowling_team'] = second_innings['bowling_team'].replace('Delhi Daredevils','Delhi Capitals')

second_innings['batting_team'] = second_innings['batting_team'].replace('Deccan Chargers','Sunrisers Hyderabad')
second_innings['bowling_team'] = second_innings['bowling_team'].replace('Deccan Chargers','Sunrisers Hyderabad')

second_innings['batting_team'] = second_innings['batting_team'].replace('Kings XI Punjab','Punjab Kings')
second_innings['bowling_team'] = second_innings['bowling_team'].replace('Kings XI Punjab','Punjab Kings')

second_innings['batting_team'] = second_innings['batting_team'].replace('Royal Challengers Bengaluru','Royal Challengers Bangalore')
second_innings['bowling_team'] = second_innings['bowling_team'].replace('Royal Challengers Bengaluru','Royal Challengers Bangalore')

C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\2733469731.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['batting_team'] = second_innings['batting_team'].replace('Delhi Daredevils','Delhi Capitals')
C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\2733469731.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['bowling_team'] = second_innings['bowling_team'].replace('Delhi Daredevils','Delhi Capitals')
C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\2733469731.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['batting_team'] = second_innings['batting_team'].replace('Deccan Chargers','Sunrisers Hyderabad')
C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\2733469731.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['bowling_team'] = second_innings['bowling_team'].replace('Deccan Chargers','Sunrisers Hyderabad')
C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\2733469731.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['batting_team'] = second_innings['batting_team'].replace('Kings XI Punjab','Punjab Kings')
C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\2733469731.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['bowling_team'] = second_innings['bowling_team'].replace('Kings XI Punjab','Punjab Kings')
C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\2733469731.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['batting_team'] = second_innings['batting_team'].replace('Royal Challengers Bengaluru','Royal Challengers Bangalore')
C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\2733469731.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['bowling_team'] = second_innings['bowling_team'].replace('Royal Challengers Bengaluru','Royal Challengers Bangalore')

In [33]:
second_innings

,id,city,winner,total_runs_x,team1,team2,match_id,inning,batting_team,bowling_team,...,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,AB Dinda,R Dravid,0,1,1,wides,0,NaN,NaN,NaN
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,AB Dinda,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,AB Dinda,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233896,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
233897,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
233898,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
233899,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
233900,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [34]:
second_innings['bowling_team'].unique()

array(['Kolkata Knight Riders', 'Punjab Kings', 'Delhi Capitals',
       'Mumbai Indians', 'Sunrisers Hyderabad', 'Chennai Super Kings',
       'Royal Challengers Bangalore', 'Rajasthan Royals',
       'Lucknow Super Giants', 'Gujarat Titans'], dtype=object)

In [35]:
second_innings.columns

Index(['id', 'city', 'winner', 'total_runs_x', 'team1', 'team2', 'match_id',
       'inning', 'batting_team', 'bowling_team', 'over', 'ball', 'batter',
       'bowler', 'non_striker', 'batsman_runs', 'extra_runs', 'total_runs_y',
       'extras_type', 'is_wicket', 'player_dismissed', 'dismissal_kind',
       'fielder'],
      dtype='object')

In [38]:
second_innings['current_score'] = second_innings.groupby('id')['total_runs_y'].cumsum()
second_innings

C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\2557804549.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['current_score'] = second_innings.groupby('id')['total_runs_y'].cumsum()

,id,city,winner,total_runs_x,team1,team2,match_id,inning,batting_team,bowling_team,...,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,1
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,R Dravid,0,1,1,wides,0,NaN,NaN,NaN,2
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN,2
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN,3
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233896,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN,110
233897,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN,111
233898,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN,112
233899,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN,113
233900,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN,114

In [39]:
second_innings['runs_left'] = second_innings['total_runs_x'] - second_innings['current_score']
second_innings

C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\2952850795.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['runs_left'] = second_innings['total_runs_x'] - second_innings['current_score']

,id,city,winner,total_runs_x,team1,team2,match_id,inning,batting_team,bowling_team,...,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,1,0,1,NaN,0,NaN,NaN,NaN,1,222
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,0,1,1,wides,0,NaN,NaN,NaN,2,221
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,0,0,0,NaN,0,NaN,NaN,NaN,2,221
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,1,0,1,NaN,0,NaN,NaN,NaN,3,220
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,1,0,1,NaN,0,NaN,NaN,NaN,4,219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233896,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,1,0,1,NaN,0,NaN,NaN,NaN,110,4
233897,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,1,0,1,NaN,0,NaN,NaN,NaN,111,3
233898,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,1,0,1,NaN,0,NaN,NaN,NaN,112,2
233899,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,1,0,1,NaN,0,NaN,NaN,NaN,113,1
233900,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,1,0,1,NaN,0,NaN,NaN,NaN,114,0

In [40]:
second_innings['balls_left'] = 126 - (second_innings['over']*6 +second_innings['ball'])
second_innings

C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\3450208605.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['balls_left'] = 126 - (second_innings['over']*6 +second_innings['ball'])

,id,city,winner,total_runs_x,team1,team2,match_id,inning,batting_team,bowling_team,...,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,0,1,NaN,0,NaN,NaN,NaN,1,222,125
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,1,1,wides,0,NaN,NaN,NaN,2,221,124
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,0,0,NaN,0,NaN,NaN,NaN,2,221,123
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,0,1,NaN,0,NaN,NaN,NaN,3,220,122
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,0,1,NaN,0,NaN,NaN,NaN,4,219,121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233896,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,0,1,NaN,0,NaN,NaN,NaN,110,4,67
233897,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,0,1,NaN,0,NaN,NaN,NaN,111,3,66
233898,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,0,1,NaN,0,NaN,NaN,NaN,112,2,65
233899,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,0,1,NaN,0,NaN,NaN,NaN,113,1,64
233900,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,0,1,NaN,0,NaN,NaN,NaN,114,0,63

In [41]:
second_innings.columns

Index(['id', 'city', 'winner', 'total_runs_x', 'team1', 'team2', 'match_id',
       'inning', 'batting_team', 'bowling_team', 'over', 'ball', 'batter',
       'bowler', 'non_striker', 'batsman_runs', 'extra_runs', 'total_runs_y',
       'extras_type', 'is_wicket', 'player_dismissed', 'dismissal_kind',
       'fielder', 'current_score', 'runs_left', 'balls_left'],
      dtype='object')

In [43]:
second_innings.to_csv("you.csv", index=False)

In [44]:
# Select the columns of interest
columns_to_check = ['current_score', 'runs_left', 'balls_left']

# Check how many values in each column are negative
negative_counts = second_innings[columns_to_check].lt(0).sum()

# Display the counts
print("Number of negative values in each column:")
print(negative_counts)

Number of negative values in each column:
current_score      0
runs_left        311
balls_left         0
dtype: int64

In [45]:
second_innings['is_wicket'] = second_innings['is_wicket'].fillna("0")
second_innings['is_wicket'] = second_innings['is_wicket'].apply(lambda x: x if x == "0" else "1")
second_innings['is_wicket'] = second_innings['is_wicket'].astype(int)

wickets = second_innings.groupby('id')['is_wicket'].cumsum()
second_innings['wickets_remaining'] = 10 - wickets

C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\3701489475.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['is_wicket'] = second_innings['is_wicket'].fillna("0")
C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\3701489475.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['is_wicket'] = second_innings['is_wicket'].apply(lambda x: x if x == "0" else "1")
C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\3701489475.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['is_wicket'] = second_innings['is_wicket'].astype(int)
C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\3701489475.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['wickets_remaining'] = 10 - wickets

In [46]:
second_innings

,id,city,winner,total_runs_x,team1,team2,match_id,inning,batting_team,bowling_team,...,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_remaining
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,1,NaN,1,NaN,NaN,NaN,1,222,125,9
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,1,wides,1,NaN,NaN,NaN,2,221,124,8
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,0,NaN,1,NaN,NaN,NaN,2,221,123,7
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,1,NaN,1,NaN,NaN,NaN,3,220,122,6
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,1,NaN,1,NaN,NaN,NaN,4,219,121,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233896,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,1,NaN,1,NaN,NaN,NaN,110,4,67,-53
233897,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,1,NaN,1,NaN,NaN,NaN,111,3,66,-54
233898,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,1,NaN,1,NaN,NaN,NaN,112,2,65,-55
233899,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,1,NaN,1,NaN,NaN,NaN,113,1,64,-56
233900,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,1,NaN,1,NaN,NaN,NaN,114,0,63,-57

In [47]:
second_innings['crr'] = round((second_innings['current_score']*6)/(120 - second_innings['balls_left']),2)
second_innings['rrr'] = round((second_innings['runs_left']*6)/(second_innings['balls_left']),2)
second_innings

C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\2924301203.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['crr'] = round((second_innings['current_score']*6)/(120 - second_innings['balls_left']),2)
C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\2924301203.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['rrr'] = round((second_innings['runs_left']*6)/(second_innings['balls_left']),2)

,id,city,winner,total_runs_x,team1,team2,match_id,inning,batting_team,bowling_team,...,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_remaining,crr,rrr
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,1,NaN,NaN,NaN,1,222,125,9,-1.20,10.66
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,1,NaN,NaN,NaN,2,221,124,8,-3.00,10.69
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,1,NaN,NaN,NaN,2,221,123,7,-4.00,10.78
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,1,NaN,NaN,NaN,3,220,122,6,-9.00,10.82
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,1,NaN,NaN,NaN,4,219,121,5,-24.00,10.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233896,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,1,NaN,NaN,NaN,110,4,67,-53,12.45,0.36
233897,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,1,NaN,NaN,NaN,111,3,66,-54,12.33,0.27
233898,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,1,NaN,NaN,NaN,112,2,65,-55,12.22,0.18
233899,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,1,NaN,NaN,NaN,113,1,64,-56,12.11,0.09
233900,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,1,NaN,NaN,NaN,114,0,63,-57,12.00,0.00

In [48]:
def winner(team):
    return 1 if team['batting_team'] == team['winner'] else 0

In [49]:
second_innings['results'] = second_innings.apply(winner,axis=1)
second_innings

C:\Users\rishi\AppData\Local\Temp\ipykernel_19212\3111665595.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['results'] = second_innings.apply(winner,axis=1)

,id,city,winner,total_runs_x,team1,team2,match_id,inning,batting_team,bowling_team,...,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_remaining,crr,rrr,results
124,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,1,222,125,9,-1.20,10.66,0
125,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,2,221,124,8,-3.00,10.69,0
126,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,2,221,123,7,-4.00,10.78,0
127,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,3,220,122,6,-9.00,10.82,0
128,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,4,219,121,5,-24.00,10.86,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233896,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,NaN,NaN,NaN,110,4,67,-53,12.45,0.36,1
233897,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,NaN,NaN,NaN,111,3,66,-54,12.33,0.27,1
233898,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,NaN,NaN,NaN,112,2,65,-55,12.22,0.18,1
233899,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,NaN,NaN,NaN,113,1,64,-56,12.11,0.09,1
233900,1426312,Chennai,Kolkata Knight Riders,114,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,...,NaN,NaN,NaN,114,0,63,-57,12.00,0.00,1

In [51]:
required_data = second_innings[['batting_team','bowling_team','city','runs_left','balls_left','wickets_remaining','total_runs_x','crr','rrr','results']]
required_data

,batting_team,bowling_team,city,runs_left,balls_left,wickets_remaining,total_runs_x,crr,rrr,results
124,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,222,125,9,223,-1.20,10.66,0
125,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221,124,8,223,-3.00,10.69,0
126,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221,123,7,223,-4.00,10.78,0
127,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,220,122,6,223,-9.00,10.82,0
128,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,121,5,223,-24.00,10.86,0
...,...,...,...,...,...,...,...,...,...,...
233896,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,4,67,-53,114,12.45,0.36,1
233897,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,3,66,-54,114,12.33,0.27,1
233898,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,2,65,-55,114,12.22,0.18,1
233899,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,1,64,-56,114,12.11,0.09,1
233900,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,0,63,-57,114,12.00,0.00,1

In [52]:
required_data = required_data.replace([np.inf, -np.inf], np.nan)
required_data = required_data.dropna()

In [53]:
required_data = required_data[required_data['crr'] >= 0]

In [55]:
columns_to_check = ['runs_left', 'balls_left', 'wickets_remaining', 'total_runs_x', 'crr', 'rrr', 'results']

required_data = required_data[~(required_data[columns_to_check] < 0).any(axis=1)]

In [56]:
required_data.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_remaining,total_runs_x,crr,rrr,results
130,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,119,3,223,24.0,11.04,0
131,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,119,2,223,24.0,11.04,0
132,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,118,1,223,12.0,11.14,0
133,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,215,117,0,223,16.0,11.03,0
355,Punjab Kings,Punjab Kings,Chandigarh,231,119,3,241,60.0,11.65,0

In [57]:
numeric = required_data[['runs_left', 'balls_left', 'wickets_remaining', 'total_runs_x', 'crr', 'rrr', 'results']]
has_infinite_values = np.any(np.isinf(numeric))

# Check for negative values in the entire DataFrame
has_negative_values = (numeric < 0).any().any()

# Check for null values in the entire DataFrame
has_null_values = numeric.isnull().any().any()

# Display the results
print(f"Has Infinite Values: {has_infinite_values}")
print(f"Has Negative Values: {has_negative_values}")
print(f"Has Null Values: {has_null_values}")

Has Infinite Values: False
Has Negative Values: False
Has Null Values: False

In [58]:
required_data.to_csv("csv2008-2024.csv", index=False)